.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    width: 30%;
    background-color: rgb(249, 210, 16);}
.imgDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.textDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.imgDiv img{
    width: 100px;
}
@media only screen and (max-width: 550px) {

    .card{
        width: 300px;
    }
}